
<html>
    <head>
        <title>soundscape</title>
    </head>
    <body>
        <p>Registra audio con microfono (m) o usare brano di prova (p)?</p>
        <form action="{{ url_for('index') }}" method="post">
            <label for="song">Choose a song:</label>
            <select id="songs" name="songs">
                <option value="celeste.wav">Cleste - Stop This Train</option>
                <option value="flyme.wav">Frank Sinatra - Fly Me To The Moon</option>
                <option value="volare.wav">Maximo Cobos - Volare</option>
            </select>
            <button type="submit">Scegli</button>
        </form>
    </body>
</html>