<!DOCTYPE HTML>
<html>
    <head>
        <title>soundscape</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200" rel="stylesheet" type="text/css" />

        <!-- ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- REQUIRED STYLE -->
    </head>

    <body>
        <div id = "dynamic-background"></div>
        <header>
            <div class="container">
                <h1>SOUNDSCAPE</h1>
                <p id="subtitle">Hear Differently</p>
            </div>
        </header>

        <main>

            <article class="container">
                <form action="{{ url_for('index') }}" method="POST" id="index_form" enctype="multipart/form-data"></form>

                <section id="panels">

                    <h2>CHOOSE THE SOUNDSCAPE</h2>
                    <div class="swipeContainer">
                    <div id="mySwipeSoundscape" class="swipe">
                        <div class="swipe-wrap">
                                {% for scape in soundscapes %}
                                    <div>
                                        <b>
                                            {{ scape }}
                                        </b>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                    <input type="hidden" id="soundscape_selection" name="soundscape_selection" form="index_form" value="{{ soundscapes[0] }}"/>
                    <a class="myArrowLeft" id="nextSoundscape">
                            <svg class="arrow" viewBox="0 0 100 100">
                                <g stroke-linejoin="round" stroke-linecap="round">
                                    <circle r="46" cx="50" cy="50" />
                                    <polyline points="60 25, 30 50, 60 75" ></polyline>
                                </g>
                            </svg>
                        </a>
                        <a class="myArrowRight" id="prevSoundscape">
                            <svg class="arrow" viewBox="0 0 100 100">
                                <g stroke-linejoin="round" stroke-linecap="round">
                                    <circle r="46" cx="50" cy="50" />
                                    <polyline points="40 25, 70 50, 40 75" ></polyline>
                                </g>
                            </svg>
                        </a>
                    </div>


                </section>
                <section id="panels">


                    <h2>CHOOSE THE INPUT</h2>

                   <div class="swipeContainer">
                        <div id="mySwipeModality" class="swipe">
                            <div class="swipe-wrap">
                                <div>
                                    <b>
                                        <select class="drop-down" name="sample_song_selection" form="index_form">
                                            {% for song in sample_songs %}
                                                <option value="{{ song }}">{{ song }}</option>
                                            {% endfor %}
                                        </select>
                                    </b>
                                </div>
                                <div><b>
                                    <div id="button-wrapper">
                                        <button id="update-button">
                                            <input name='uploaded_file' form='index_form' id='song-uploader' type='file' onchange="readURL(this);" accept=".wav, .mp3" >
                                            <p>Upload</p>
                                            <div class="fill"></div>
                                            <div class="fa fa-check"></div>
                                        </button>
                                    </div>
                                </b></div>
                                <div><b>
                                    <div>
                                        <div id ="microphone" class="circle">
                                            <i id="mic"class="fa fa-microphone"></i>
                                        </div>
                                    </div>
                                </b></div>
                            </div>
                        </div>
                        <input type="hidden" id="modality_selection" name="modality_selection" form="index_form" value="sample"/>
                        <a class="myArrowLeft" id="nextModality">
                            <svg class="arrow" viewBox="0 0 100 100">
                                <g stroke-linejoin="round" stroke-linecap="round">
                                    <circle r="46" cx="50" cy="50" />
                                    <polyline points="60 25, 30 50, 60 75" ></polyline>
                                </g>
                            </svg>
                        </a>
                        <a class="myArrowRight" id="prevModality">
                            <svg class="arrow" viewBox="0 0 100 100">
                                <g stroke-linejoin="round" stroke-linecap="round">
                                    <circle r="46" cx="50" cy="50" />
                                    <polyline points="40 25, 70 50, 40 75" ></polyline>
                                </g>
                            </svg>
                        </a>
                    </div>
                </section>
            </article>
            
            <div class="ctn">
                <input type="checkbox" id="check"/>
                <label for="check" class="btn-label" id="start_button">
                    <span class="load open"></span>
                    <p class="btn-text">start</p>
                </label>
            </div>

            <script>
                let scapes = [];
                let i = 0;
            </script>
            {% for scape in soundscapes %}
                <script>
                    scapes[i] = '{{ scape }}';
                    i++;
                </script>
            {% endfor %}

        </main>

        <footer>
            <div class="footer">

                <ul class="list-unstyled">
                    <li><a href="https://github.com/LuigiAttorresi/Soundscape">Github repository</a></li>
                    <li><a href="https://github.com/LuigiAttorresi/Soundscape">Join us</a></li>
                </ul>

            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/gh/lyfeyaj/swipe/swipe.js"></script>
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
