<!DOCTYPE HTML>
<html>
    <head>
        <title>soundscape</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">

        <!-- FONT -->
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200" rel="stylesheet" type="text/css" />

        <!-- ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- REQUIRED STYLE -->
    </head>

    <body>
        <div id="fixed-background"></div>
        <script>
            document.getElementById("fixed-background").style.backgroundImage = 'url(../static/images/' + '{{ selected_soundscape }}' + '.jpg)'
        </script>
        <header id="header-resynth">
            <div class="container">
                <h1>SOUNDSCAPE</h1>
                <p id="subtitle">Hear Differently</p>
            </div>
        </header>

        <main>
            <article class="player-container">
                <!--<form action="{{ url_for('index') }}" method="POST" id="index_form" enctype="multipart/form-data"></form>-->

                <section class="player-panels">

                    <h2>PLAY THE RESULT</h2>

                    <div class="player">
                        <audio>
                            <source src='{{ resynth_song }}' type="audio/wav">
                        </audio>
                    </div>


                </section>
            </article>
        </main>

        <script type="module" src="{{ url_for('static', filename='js/player.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>
    </body>
</html>
