@charset "UTF-8";

#dynamic-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(8px);
    filter: blur(3px);
    height: 100%;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    width: 40em;
    margin: auto;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: transparent;
}

article > section > * + * {
    margin: 1.5em 0;
}

body {
    font-family: 'Source Code Pro', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
    content: '';
    display: block;
    width: 1.5em;
    height: 2px;
    margin: 0.2em 0;
    background-color: currentColor; }

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.15em;
}





.container {
    width: 50em;    /* Larghezza della casella swipe*/
    margin-left: auto;  
    margin-right: auto;
    padding: 0 1em;
}

header, footer {
    padding: 2em;
}

.list-unstyled {
    list-style: none outside none;
}
.list-unstyled li {
    display: inline;
}
.list-unstyled li + li:before {
    content: ' • ';
}

.panels-controls {
    text-align: center;
    padding: 1.5em;
}

.swipe-wrap > div {
    margin: 0;
    padding: 10;
}
.swipe-wrap > div b {
    display: block;
    margin: 0 1.5em;
    padding: 4em 1em;
    font-size: 2em;
    text-align: center;
}

.swipe div b {
    background-color: #ffffff00;
    color: rgb(44, 42, 42);
    border-radius: 3px;
}

h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
    background-color: #27AAE1;
}

footer {
    border-top: 1px solid #f2f2f2;
}

#soundscapeSwipe {
    color:#27AAE1
}

#uploadSwipe {
    color:#EE3769
}





.arrow {
    position: relative;
    margin:auto;
    z-index: 100;
    top: 50%;
    cursor: pointer;
    opacity: 0.75;
    width: 40px;
    height: 40px;
    stroke-width: 8px;
    stroke: black;
    fill: transparent;
}

.prova {
    position: relative;
}

.myArrowLeft {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.myArrowRight {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

/*
#nextSoundscape {
    right: 200px;
  }
  
#prevSoundscape {
    left: 200px;
}

#newxtModality {
    right: 200px;
  }
  
#prevModality {
    left: 200px;
}


*/



    
/* Inizio microphone*/  
.circle {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .5s;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  }

.circle.active {
    background: #ff0000;
}

.circle:hover {
    background: #c8c5c9;
}
    
#mic {
color: #393636;
font-size: 35px;
transition: .9s;
}

/*Fine microphone*/

/* Inizio upload button */

button:focus {
    outline: none;
}

button:hover {
    background: #c8c5c9;
}

#button-wrapper {
    text-align: center;
    padding: 0 100px;
}

button {
    width: 100%;
    background: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 5px 0;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
}

button p {
    color: #393636;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    max-height: 40px;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

button .fill {
    /*barra di caricamento*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0%;
    background: #393636;
    border-radius: 50px;
}

button .fa {
    /*Termine caricamento*/
    font-size: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 50px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#button-wrapper.clicked {
    padding: 0;
}

#button-wrapper.clicked button {
    background: #ccc;
    margin-top: 25px;
}

#button-wrapper.clicked button p {
    max-height: 0;
    overflow: hidden
}

#button-wrapper.clicked button .fill {
    width: 100%;
    -webkit-transition: .3s all ease .3s;
    transition: 2s all ease .6s;
}

#button-wrapper.success button {
    margin: 0;
    padding: 25px;
    width: 50px;
}

#button-wrapper.success button .fa {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s all ease .3s;
    transition: .3s all ease .3s;
}
  
/*Fine upload button*/
    
.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: inset 0 -0.1em 0 0 rgba(0, 0, 0, 0.2), inset 0 1.15em 0 0 rgba(255, 255, 255, 0.1);
}
.btn:active {
    transform: translateY(2px);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

::selection {
    background-color: #27AAE1;
    color: #eee;
}

::-moz-selection {
    background-color: #27AAE1;
    color: #eee;
}

body {
    background-color: #ffffff;
    color: #111;
}

a {
    color: #EE3769;
}
a:visited {
    color: #5099b8;
}

.btn-primary {
    background-color: #27AAE1;
    color: #eee;
}
.btn-primary:hover {
    background-color: #34afe3;
}
.btn-primary:active {
    background-color: #1ea3da;
}

.btn-secondary {
    background-color: #EE3769;
    color: #eee;
}
.btn-secondary:hover {
    background-color: #ef4574;
}
.btn-secondary:active {
    background-color: #ed295e;
}
